*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: right;
    width: 100%;
    background:rgb(7, 131, 247);
    padding: 10px;
    position: fixed;
 
}
nav a{
    text-decoration: none;

}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}
nav ul li{
    list-style: none;
    margin-right: 15px;
    
}
/*Hero section styling*/
.hero_section{
    display: flex;
    background: url(images/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay.jpg);
    background-color: black;
    align-items: center;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    justify-content: center;
    gap: 0.1rem;
    width: 100%;

}
form .content{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    width: 100%;
}
form{
   /* display: flex;*/
    width: 100%;
    /*max-width: 1620px;*/
}
input{
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    border-style:none;
    margin: 0 auto; 
    width: 50%;
    border-radius: 15px; 
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
input::placeholder {
    color: white;
    font-size: 20px; 
}
button{
    margin-left: 10px;
    border-left: none;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-style: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(68, 243, 24, 0.9);
}
.title{
    text-align: center;
    margin: 10px;
    line-height: 1.5;
    letter-spacing: 0.5;
}
/*about styling*/
.about img{
    width: 40%;
    height: 50%;
    border-radius: 30px;
    margin-left: 3%;
}
.about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}
.about p{
    line-height: 1.5;
    letter-spacing: 0.5;
    margin-left: 1%;
}